In [2]:
## We first load in packages we will need
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
sns.set_style("whitegrid")

## Read csv, check basic info and duplicates

In [3]:
df = pd.read_csv("../../Data/used_cars.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB

In [113]:
df.duplicated().sum()

np.int64(0)

In [114]:
df.dtypes

brand           object
model           object
model_year       int64
milage          object
fuel_type       object
engine          object
transmission    object
ext_col         object
int_col         object
accident        object
clean_title     object
price           object
dtype: object

In [116]:
df.nunique()

brand             57
model           1898
model_year        34
milage          2818
fuel_type          7
engine          1146
transmission      62
ext_col          319
int_col          156
accident           2
clean_title        1
price           1569
dtype: int64

## Investigate "fuel_type" column

In [117]:
df['fuel_type'].unique()

array(['E85 Flex Fuel', 'Gasoline', 'Hybrid', nan, 'Diesel',
       'Plug-In Hybrid', '–', 'not supported'], dtype=object)

In [118]:
fuel_others = df.loc[(df['fuel_type']=='–')|(df['fuel_type']=='not supported')|pd.isna(df['fuel_type'])]
fuel_others.shape

(217, 12)

In [119]:
fuel_not_supp = df.loc[df['fuel_type']=='not supported']
fuel_not_supp.shape

(2, 12)

#### Show that {Fuel_type == en dash ('–') } if and only if {engine == en dash ('–')}

In [120]:
fuel_dash = df.loc[df['fuel_type']=='–']

fuel_dash.shape

(45, 12)

In [121]:
engine_dash = df.loc[df['engine']=='–']
engine_dash.shape

(45, 12)

In [122]:
fuel_engine_both_dash = df.loc[(df['engine']=='–')&(df['fuel_type']=='–')]
fuel_engine_both_dash.shape

(45, 12)

In [123]:
fuel_dash.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
130,Chrysler,Pacifica Touring,2017,"87,305 mi.",–,–,9-Speed A/T,Silver,Black,None reported,Yes,"$9,000"
257,Toyota,Land Cruiser Base,1993,"231,500 mi.",–,–,A/T,White,Gray,None reported,Yes,"$29,500"
338,Mazda,Mazda3 s Grand Touring,2016,"85,000 mi.",–,–,A/T,Black,Black,At least 1 accident or damage reported,Yes,"$18,500"
491,Chrysler,Pacifica Touring,2017,"63,000 mi.",–,–,9-Speed A/T,White,Beige,None reported,Yes,"$20,000"
692,Honda,Civic EX,1993,"58,981 mi.",–,–,A/T,White,Beige,None reported,Yes,"$9,599"

In [124]:
fuel_na = df.loc[pd.isna(df['fuel_type'])]
fuel_na.shape

(170, 12)

In [125]:
fuel_na.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
9,Tesla,Model X Long Range Plus,2020,"34,000 mi.",NaN,534.0HP Electric Motor Electric Fuel System,A/T,Black,Black,None reported,Yes,"$69,950"
44,Lucid,Air Grand Touring,2022,"3,552 mi.",NaN,536.0HP Electric Motor Electric Fuel System,1-Speed A/T,Red,Beige,None reported,Yes,"$119,999"
68,Lucid,Air Grand Touring,2022,"4,900 mi.",NaN,536.0HP Electric Motor Electric Fuel System,1-Speed A/T,Red,Black,None reported,Yes,"$99,000"
92,Rivian,R1S Adventure Package,2023,"2,800 mi.",NaN,835.0HP Electric Motor Electric Fuel System,1-Speed A/T,White,Green,None reported,Yes,"$92,000"
122,Rivian,R1S Adventure Package,2023,"2,500 mi.",NaN,835.0HP Electric Motor Electric Fuel System,A/T,Green,White,None reported,Yes,"$94,000"

### Conclusion:
For the values in the fuel column, NaN corresponds to electric motor car (I have checked the original csv file with Excel, and sort the column fuel_type, most fuel_type==NaN rows have the key word "Electric" contained in their "engine" column, a few rows have "battery" or "dual motor" in their "engine" column. I googled those vocabularies, they are all electric motor car.), dash corresponds to missing value (there are 45 rows, and they also miss the values for engine), "not supported" (only 2 rows have this, maybe we can just drop them) corresponds to Toyota Mirai models. 

To deal with this, we can fill in the NaN values by "Electric", and drop the missing values and the two Toyota Mirai rows. (I do so as below.)
Another way to deal with the 45 missing values, is to google the model type and fill in the information by hand.

In [ ]:
df['fuel_type'].fillna('electric', inplace=True)

In [127]:
df = df[(df.fuel_type != '–')&(df.fuel_type != 'not supported')]

In [128]:
df['fuel_type'].value_counts()

fuel_type
Gasoline          3309
Hybrid             194
electric           170
E85 Flex Fuel      139
Diesel             116
Plug-In Hybrid      34
Name: count, dtype: int64

## Clean price, milage columns and convert year column to age

Since price and milage are of string type, we convert them to float type. 

We convert year value to age (age=2024-year). For example, a 2014 car has age 2024-2014 = 10.

In [129]:
def clean_price_column(text:str) -> float:
    text = text[1:] # removes leading $
    return float(text.replace(',','')) # removes comma and converts to float

df['price'] = df['price'].apply(clean_price_column)

In [130]:
def clean_milage_column(text:str) -> float:
    text = text.replace(',','')
    return float(text.replace(' mi.', ''))

df['milage'] = df['milage'].apply(clean_milage_column)

In [131]:
def year_to_age(y:int) -> int:
    return 2024-y

df['model_year'] = df['model_year'].apply(year_to_age)
df.rename(columns = {'model_year':'age'},inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3962 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         3962 non-null   object
 1   model         3962 non-null   object
 2   age           3962 non-null   int64
 3   milage        3962 non-null   float64
 4   fuel_type     3962 non-null   object
 5   engine        3962 non-null   object
 6   transmission  3962 non-null   object
 7   ext_col       3962 non-null   object
 8   int_col       3962 non-null   object
 9   accident      3850 non-null   object
 10  clean_title   3367 non-null   object
 11  price         3962 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 402.4+ KB

# Create new column log_price

In [132]:
df['log_price'] = np.log10(df['price'])

# Check accident column

In [133]:
df['accident'].unique()

array(['At least 1 accident or damage reported', 'None reported', nan],
      dtype=object)

In [134]:
df['accident'].value_counts()

accident
None reported                             2875
At least 1 accident or damage reported     975
Name: count, dtype: int64

In [135]:
accident_NaN = df.loc[pd.isna(df['accident'])]
accident_NaN.shape

(112, 13)

In [ ]:
df['accident'].fillna('None reported',inplace=True)

In [137]:
df['accident'].value_counts()

accident
None reported                             2987
At least 1 accident or damage reported     975
Name: count, dtype: int64

# Check clean_title column

In [138]:
df['clean_title'].unique()

array(['Yes', nan], dtype=object)

In [139]:
clean_title_NaN = df.loc[pd.isna(df['clean_title'])]
clean_title_NaN.shape

(595, 13)

In [ ]:
df['clean_title'].fillna('no',inplace=True)

In [141]:
df.clean_title.value_counts()

clean_title
Yes    3367
no      595
Name: count, dtype: int64

# Clean color columns

First, let's see what are the top 20 popular colors for ext_color and int_color. The result shows that black is the most popular for both ext and int color. We can impute the missing values with black.

In [142]:
df.ext_col.value_counts()[:20]

ext_col
Black                                 900
White                                 804
Gray                                  490
Silver                                369
Blue                                  344
Red                                   255
Green                                  70
Brown                                  43
Gold                                   41
Beige                                  38
Orange                                 36
Yellow                                 29
–                                      15
Bright White Clearcoat                 14
Diamond Black                          14
Summit White                           14
Purple                                 11
Alpine White                            8
Granite Crystal Clearcoat Metallic      7
Silver Ice Metallic                     7
Name: count, dtype: int64

In [143]:
df.int_col.value_counts()[:20]

int_col
Black                  2008
Beige                   534
Gray                    458
Brown                   156
–                       129
White                   125
Red                     125
Jet Black                59
Ebony                    44
Blue                     26
Orange                   20
Silver                   16
Global Black             13
Charcoal                 12
Nero Ade                 10
Gold                     10
Graphite                  8
Green                     7
Diesel Gray / Black       6
Black Onyx                5
Name: count, dtype: int64

Color names like 'Charcoal Black', 'Summit White' can be classified as 'black' and 'white'. Next, we build a function to extract color names. And then we apply the function to the color columns.

In [144]:
#Import regular expression package. 
import re

In [145]:
def extract_ext_color(text):
    if text == '–': return 'black'
    color_set = {'black','white','gray','silver','blue', 'red'}
    text = text.lower()
    for color in color_set:
        if re.search(color, text):
            return color
    return 'other'

def extract_int_color(text):
    if text == '–': return 'black'
    color_set = {'black','beige', 'gray', 'brown', 'white', 'red'}
    text = text.lower()
    for color in color_set:
        if re.search(color, text):
            return color
    return 'other'

In [146]:
df['ext_col'] = df['ext_col'].apply(extract_ext_color)
df['int_col'] = df['int_col'].apply(extract_int_color)

In [147]:
df.ext_col.value_counts()

ext_col
black     1026
white      910
gray       528
silver     416
blue       390
other      387
red        305
Name: count, dtype: int64

In [148]:
df.int_col.value_counts()

int_col
black    2255
beige     552
gray      469
other     255
brown     161
red       141
white     129
Name: count, dtype: int64

# Clean transmission column

In [149]:
df['transmission'].unique()

array(['6-Speed A/T', '8-Speed Automatic', 'Automatic', '7-Speed A/T',
       'F', 'A/T', '8-Speed A/T', 'Transmission w/Dual Shift Mode',
       '9-Speed Automatic', '6-Speed M/T', '10-Speed A/T', '9-Speed A/T',
       '5-Speed A/T', '1-Speed A/T', 'Automatic CVT',
       '7-Speed Automatic with Auto-Shift', 'CVT-F', 'M/T',
       '6-Speed Automatic with Auto-Shift', '10-Speed Automatic',
       'CVT Transmission', '4-Speed A/T', '6-Speed Automatic',
       '4-Speed Automatic', '7-Speed M/T',
       '8-Speed Automatic with Auto-Shift', '5-Speed Automatic',
       '8-SPEED AT', '1-Speed Automatic', '5-Speed M/T', 'Manual',
       '6-Speed Manual', 'Variable', '2', '7-Speed Manual',
       'Automatic, 9-Spd 9G-Tronic', 'Automatic, 8-Spd',
       'Automatic, 8-Spd Sport w/Sport & Manual Modes', '–',
       'Auto, 6-Spd w/CmdShft', 'Transmission Overdrive Switch',
       '7-Speed Automatic', 'Automatic, 8-Spd PDK Dual-Clutch',
       'Automatic, 8-Spd M STEPTRONIC w/Drivelogic, Sport & Manual Modes',
       'Automatic, 8-Spd Dual-Clutch', '6-Speed',
       'Single-Speed Fixed Gear', 'Automatic, 10-Spd',
       '2-Speed Automatic', '7-Speed',
       'Automatic, 7-Spd S tronic Dual-Clutch', 'Manual, 6-Spd',
       '6-Speed Electronically Controlled Automatic with O',
       '6 Speed At/Mt', '8-SPEED A/T',
       '10-Speed Automatic with Overdrive', '7-Speed DCT Automatic',
       '9-Speed Automatic with Auto-Shift',
       'SCHEDULED FOR OR IN PRODUCTION', '2-Speed A/T', '6 Speed Mt',
       '8-Speed Manual'], dtype=object)

In [150]:
def extract_transmission_type(text):
    if text == '–': return 'black'
    auto_set = {'a/t', 'cvt','cvt-f','automatic', 'auto,', 'switch',
                'dual-clutch', 'at/mt','single-speed fixed gear',
                'transmission overdrive switch','at', 'w/dual shift mode','black'}
    manual_set = {'mamual','mt','m/t','manual,'}
    text = text.lower()
    if text == 'f' or text == 'variable' or text=='2' or text=='6-speed' or text=='7-speed' or text=='scheduled for or in production': return 'automatic'
    if text == '7-speed manual' or text == '6-speed manual' or text == '8-speed manual': return 'manual'
    for at in auto_set:
        if re.search(at, text):
            return 'automatic'
    for mt in manual_set:
        if re.search(mt, text):
            return 'manual'
    return text

In [154]:
df['transmission'] = df['transmission'].apply(extract_transmission_type)

In [155]:
df['transmission'].value_counts()

transmission
automatic    3600
manual        362
Name: count, dtype: int64

# Split the data into electric and non-electric

In [ ]:
#df_electric = df[df.fuel_type == 'electric'].copy()
#df_non_electric = df[df.fuel_type != 'electric'].copy()

In [156]:
df['electric'] = pd.get_dummies(df['fuel_type'])['electric']

In [165]:
df['electric'].value_counts()

electric
False    3792
True      170
Name: count, dtype: int64

# Drop outliers

Drop outliers for age, mileage, price columns, with upper limit = 99.5 percentile, lower limit = 0.5 percentile.

In [157]:
price_lower_limit, price_upper_limit = np.percentile(a=df.price,q=[0.5,99.5])
milage_lower_limit, milage_upper_limit = np.percentile(a=df.milage,q=[0.5,99.5])
age_lower_limit, age_upper_limit = np.percentile(a=df.age,q=[0.5,99.5])
print(price_lower_limit,price_upper_limit)
print(milage_lower_limit,milage_upper_limit)
print(age_lower_limit,age_upper_limit)

3500.0 367773.2550000065
299.805 244039.00000000003
1.0 26.0

In [158]:
df_filtered = df[(df.price>price_lower_limit) & (df.price<price_upper_limit)\
                  & (df.milage>milage_lower_limit) & (df.milage<milage_upper_limit)\
                  & (df.age>age_lower_limit) & (df.age<age_upper_limit)]

df_filtered.shape

(3645, 14)

# Train-test split stratified by electric/non-electric

In [159]:
from sklearn.model_selection import train_test_split

In [167]:
X = df_filtered.drop(['price'],axis=1)
y = df_filtered['price']

In [168]:
X_train, X_test, y_train, y_test  = train_test_split(X, y,
                                            shuffle=True,
                                            random_state=21,
                                            test_size = .2,
                                            stratify=df_filtered['electric'])

In [169]:
print("The shape of X_train is",X_train.shape)
print("The shape of X_test is",X_test.shape)
print("The length of y_train is",len(y_train))
print("The length of y_test is",len(y_test))

The shape of X_train is (2916, 13)
The shape of X_test is (729, 13)
The length of y_train is 2916
The length of y_test is 729

In [170]:
continuous_features = ['milage','age']

In [171]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import root_mean_squared_error

In [172]:
from sklearn.model_selection import KFold
kfold = KFold(n_splits = 5,
              shuffle = True,
              random_state = 582)
kfold.split(X_train, y_train)

In [173]:
for train_index, test_index in kfold.split(X_train, y_train):
    print("Train index:", train_index)
    print("Test index:", test_index)
    print()
    print()

Train index: [   0    2    4 ... 2913 2914 2915]
Test index: [   1    3   12   18   19   31   33   40   41   42   44   47   52   59
   64   70   74   76   77   78   80   82   83   91   96  100  107  114
  121  123  129  141  142  144  156  160  167  172  176  183  184  187
  193  195  199  205  211  213  214  218  225  232  234  235  239  244
  256  260  265  274  281  299  301  311  317  321  324  338  369  370
  371  372  373  383  385  389  390  397  398  403  410  413  416  418
  426  428  431  444  445  460  464  467  472  476  477  487  491  496
  508  518  523  525  529  535  536  538  539  544  549  552  555  557
  558  568  573  577  583  588  595  607  612  613  619  625  631  633
  634  643  651  673  674  679  682  685  688  693  698  705  710  711
  720  732  745  746  747  766  767  769  771  773  780  783  785  797
  800  815  822  836  837  838  840  841  842  845  860  863  865  867
  868  872  895  908  912  915  927  929  933  934  938  940  942  946
  952  962  968  989  991  996 1011 1012 1019 1028 1031 1040 1044 1045
 1046 1051 1053 1057 1068 1072 1083 1084 1089 1092 1104 1116 1118 1131
 1134 1137 1139 1145 1152 1156 1157 1158 1163 1164 1170 1176 1178 1181
 1182 1187 1195 1197 1199 1202 1206 1252 1253 1254 1258 1259 1262 1267
 1268 1270 1272 1281 1284 1287 1288 1293 1294 1297 1303 1304 1306 1317
 1319 1321 1329 1330 1338 1341 1350 1354 1355 1359 1360 1361 1362 1367
 1369 1374 1375 1376 1381 1384 1386 1387 1390 1406 1409 1411 1412 1413
 1417 1418 1424 1428 1429 1454 1455 1462 1463 1468 1471 1472 1473 1475
 1482 1490 1492 1493 1494 1495 1497 1498 1502 1506 1518 1520 1524 1532
 1534 1536 1538 1539 1547 1551 1559 1564 1569 1574 1582 1583 1599 1603
 1607 1615 1648 1651 1655 1656 1661 1663 1666 1677 1678 1683 1689 1697
 1703 1705 1706 1709 1715 1718 1720 1725 1726 1727 1728 1732 1739 1740
 1743 1761 1764 1767 1769 1770 1773 1777 1784 1785 1788 1791 1793 1812
 1826 1830 1831 1832 1845 1852 1854 1856 1857 1861 1869 1875 1879 1881
 1890 1892 1894 1897 1900 1903 1908 1918 1920 1924 1926 1927 1938 1947
 1948 1952 1972 1979 1980 1981 1982 1984 1985 1999 2006 2007 2009 2011
 2013 2016 2021 2022 2039 2043 2048 2051 2053 2061 2073 2075 2082 2087
 2088 2092 2095 2097 2108 2118 2121 2128 2131 2138 2148 2151 2168 2171
 2178 2188 2192 2193 2194 2197 2208 2209 2215 2216 2218 2220 2230 2241
 2249 2251 2253 2255 2264 2273 2274 2276 2283 2295 2308 2310 2311 2313
 2316 2321 2322 2333 2344 2345 2348 2352 2360 2361 2373 2377 2391 2394
 2399 2407 2409 2412 2420 2423 2429 2430 2431 2446 2452 2463 2465 2468
 2470 2475 2487 2489 2490 2491 2492 2493 2501 2505 2507 2510 2512 2514
 2515 2523 2525 2533 2536 2540 2542 2544 2549 2553 2555 2560 2561 2569
 2571 2573 2579 2583 2588 2591 2596 2600 2605 2606 2608 2610 2615 2618
 2622 2626 2632 2635 2636 2640 2642 2646 2647 2651 2658 2660 2667 2674
 2675 2696 2709 2711 2726 2731 2737 2741 2752 2755 2758 2759 2761 2766
 2768 2770 2785 2791 2792 2796 2804 2817 2821 2827 2828 2857 2862 2870
 2872 2873 2887 2890 2894 2897 2903 2904 2908 2911]


Train index: [   1    2    3 ... 2911 2914 2915]
Test index: [   0    8   16   21   29   32   35   37   43   57   67   99  101  106
  113  119  122  128  133  140  150  152  158  168  169  173  177  178
  180  182  191  197  202  209  210  228  231  241  245  247  251  261
  263  264  267  269  270  272  275  277  280  283  285  286  287  292
  293  295  296  307  322  329  332  336  354  355  367  374  384  388
  395  405  407  422  435  436  439  441  448  450  455  458  459  462
  465  480  481  485  495  497  500  514  517  519  521  522  528  532
  543  550  551  565  567  582  596  604  606  618  620  622  637  638
  641  644  645  648  649  650  652  656  663  667  668  672  677  692
  696  700  704  706  708  709  713  717  722  725  729  737  752  755
  761  764  791  796  799  801  805  806  808  811  818  819  825  828
  829  830  831  832  834  839  850  851  852  853  874  875  883  885
  887  889  897  899  903  910  911  913  924  926  930  931  932  936
  941  948  949  953  954  959  963  966  969  974  984  987  992  998
  999 1000 1008 1015 1017 1022 1025 1027 1035 1036 1043 1052 1054 1056
 1059 1061 1063 1069 1075 1076 1079 1080 1091 1094 1096 1105 1108 1112
 1119 1121 1123 1124 1125 1128 1129 1132 1135 1151 1155 1162 1167 1168
 1173 1196 1201 1205 1211 1220 1224 1227 1231 1232 1239 1241 1243 1248
 1250 1251 1255 1260 1264 1265 1275 1276 1282 1283 1298 1300 1301 1310
 1313 1318 1324 1327 1334 1342 1344 1351 1365 1371 1372 1383 1394 1397
 1404 1416 1419 1421 1425 1427 1437 1440 1444 1445 1448 1450 1452 1458
 1464 1465 1466 1478 1480 1484 1486 1489 1496 1501 1510 1528 1531 1541
 1553 1568 1587 1593 1594 1598 1601 1605 1608 1612 1616 1625 1627 1630
 1636 1638 1643 1647 1649 1653 1654 1657 1662 1665 1672 1675 1676 1682
 1687 1690 1691 1693 1696 1698 1704 1710 1712 1717 1721 1729 1733 1735
 1751 1754 1756 1759 1765 1766 1778 1779 1780 1782 1787 1797 1802 1803
 1808 1827 1828 1842 1844 1847 1859 1862 1865 1871 1874 1877 1882 1885
 1888 1895 1899 1902 1907 1909 1915 1922 1930 1941 1942 1943 1945 1960
 1970 1975 1986 1993 1996 1997 2000 2008 2012 2014 2017 2026 2027 2031
 2038 2040 2049 2054 2058 2063 2064 2065 2066 2069 2071 2072 2078 2081
 2084 2090 2091 2093 2094 2099 2102 2105 2106 2117 2120 2127 2134 2137
 2157 2159 2177 2182 2196 2201 2205 2213 2219 2227 2231 2233 2234 2246
 2261 2269 2275 2279 2282 2287 2292 2294 2304 2306 2307 2312 2314 2318
 2319 2320 2325 2338 2342 2350 2351 2353 2355 2356 2362 2363 2364 2368
 2370 2371 2376 2385 2386 2388 2389 2390 2392 2395 2400 2408 2410 2421
 2422 2426 2433 2435 2453 2454 2458 2459 2460 2461 2464 2469 2471 2477
 2484 2486 2494 2498 2519 2522 2532 2546 2552 2554 2565 2566 2580 2587
 2593 2598 2599 2603 2619 2627 2637 2641 2643 2649 2666 2669 2682 2685
 2686 2691 2698 2701 2707 2712 2717 2718 2724 2729 2742 2743 2748 2750
 2756 2765 2767 2769 2778 2779 2793 2805 2808 2809 2810 2813 2815 2816
 2818 2820 2823 2838 2839 2840 2848 2849 2854 2855 2856 2858 2864 2881
 2882 2884 2885 2892 2893 2899 2906 2912 2913]


Train index: [   0    1    2 ... 2913 2914 2915]
Test index: [   9   10   20   24   28   30   39   48   56   62   71   81   84   94
   97  105  124  136  138  143  148  149  153  165  166  194  200  201
  203  204  207  215  219  224  227  230  233  236  237  238  240  246
  254  258  266  279  284  294  298  302  303  305  308  309  315  320
  325  326  330  333  349  350  353  358  365  381  392  393  399  400
  409  414  420  421  429  432  433  438  440  443  447  452  453  468
  469  471  474  482  483  490  498  502  503  506  512  513  515  526
  547  554  560  562  580  581  584  586  587  593  597  598  602  603
  608  609  610  614  636  639  640  646  653  654  660  664  666  670
  675  701  707  712  714  727  733  738  744  750  753  756  763  774
  775  786  787  792  793  794  802  804  814  816  817  821  823  826
  846  849  856  859  861  864  866  870  877  882  884  886  888  892
  893  901  906  907  923  937  943  957  964  965  970  971  972  975
  977  980  983  985  990  994  995 1004 1007 1009 1030 1038 1039 1047
 1048 1050 1065 1067 1073 1074 1082 1086 1087 1095 1099 1100 1101 1106
 1113 1120 1122 1127 1130 1140 1142 1144 1146 1149 1165 1177 1183 1184
 1186 1189 1198 1203 1209 1210 1212 1216 1217 1221 1222 1223 1228 1236
 1238 1242 1246 1247 1274 1278 1280 1289 1295 1296 1307 1312 1314 1315
 1316 1322 1325 1331 1332 1339 1346 1347 1349 1353 1364 1373 1379 1385
 1391 1398 1401 1407 1410 1414 1422 1423 1426 1431 1432 1436 1449 1451
 1456 1459 1461 1467 1470 1481 1485 1488 1499 1505 1511 1516 1517 1519
 1527 1529 1533 1537 1544 1545 1549 1550 1552 1555 1556 1558 1560 1565
 1570 1573 1576 1577 1579 1590 1592 1600 1602 1609 1613 1614 1621 1623
 1626 1628 1631 1637 1639 1640 1641 1642 1644 1645 1650 1658 1667 1670
 1674 1680 1686 1688 1694 1699 1700 1702 1724 1744 1745 1746 1748 1749
 1755 1768 1775 1786 1792 1794 1796 1798 1809 1810 1816 1821 1834 1835
 1837 1839 1843 1850 1867 1872 1876 1878 1891 1896 1906 1914 1917 1928
 1929 1931 1935 1940 1946 1957 1961 1963 1964 1966 1989 1990 1991 1992
 1995 2003 2005 2010 2024 2028 2029 2033 2037 2046 2047 2062 2068 2074
 2083 2096 2101 2113 2119 2124 2132 2133 2135 2139 2141 2144 2146 2149
 2154 2161 2164 2166 2180 2181 2183 2184 2186 2187 2191 2195 2198 2202
 2212 2217 2222 2224 2229 2236 2239 2240 2245 2248 2250 2254 2257 2259
 2265 2268 2270 2271 2272 2289 2298 2299 2326 2328 2329 2330 2331 2337
 2339 2346 2347 2357 2358 2366 2367 2380 2381 2382 2393 2402 2403 2406
 2411 2414 2434 2439 2441 2448 2455 2456 2457 2467 2472 2474 2480 2482
 2485 2495 2496 2500 2504 2508 2516 2517 2520 2526 2527 2530 2541 2543
 2557 2558 2559 2562 2563 2567 2570 2574 2575 2576 2578 2582 2585 2586
 2590 2602 2616 2617 2621 2631 2639 2645 2653 2655 2656 2661 2662 2665
 2670 2671 2676 2677 2678 2681 2683 2699 2700 2706 2708 2713 2721 2728
 2732 2733 2734 2738 2739 2740 2746 2757 2762 2764 2775 2782 2788 2790
 2794 2795 2797 2803 2806 2807 2811 2826 2829 2833 2841 2844 2847 2852
 2859 2866 2876 2877 2880 2889 2891 2895 2902]


Train index: [   0    1    3 ... 2912 2913 2914]
Test index: [   2    4    7   17   25   26   36   45   46   50   51   53   63   65
   66   68   72   73   79   85   90   98  102  104  109  110  117  118
  125  126  130  131  132  134  147  162  175  179  181  185  186  188
  190  192  196  206  212  217  220  222  223  226  229  242  248  250
  252  253  259  262  268  276  278  288  289  290  304  312  314  318
  323  328  334  337  341  343  345  348  351  352  356  357  359  360
  362  363  364  368  376  377  378  379  396  402  404  406  411  415
  423  424  425  430  437  442  446  449  454  463  470  473  475  486
  488  493  494  501  504  505  509  510  527  534  540  548  553  556
  559  561  566  569  570  571  572  574  575  578  589  591  592  594
  599  600  601  605  615  617  621  623  624  626  627  630  635  655
  658  659  661  665  669  671  676  678  680  681  683  684  687  691
  702  703  718  721  724  726  734  735  740  749  751  754  757  758
  759  760  762  765  776  779  781  782  784  788  795  803  807  809
  810  812  820  843  844  855  858  862  871  878  879  890  894  902
  909  914  919  920  922  935  939  944  945  951  955  956  958  960
  981  997 1010 1013 1014 1018 1023 1029 1033 1037 1064 1066 1070 1071
 1098 1109 1114 1115 1126 1147 1161 1174 1175 1179 1188 1190 1191 1204
 1208 1213 1214 1218 1226 1229 1233 1234 1245 1249 1256 1257 1261 1277
 1279 1285 1286 1290 1299 1305 1320 1323 1326 1333 1337 1340 1343 1345
 1348 1356 1363 1368 1370 1380 1388 1389 1395 1396 1400 1408 1415 1420
 1433 1438 1439 1447 1453 1469 1474 1477 1483 1491 1504 1507 1508 1509
 1513 1514 1515 1521 1525 1526 1530 1535 1540 1542 1543 1562 1563 1566
 1567 1578 1580 1584 1588 1589 1596 1597 1604 1606 1610 1611 1617 1618
 1632 1633 1634 1635 1652 1659 1660 1668 1673 1679 1681 1685 1695 1707
 1708 1711 1713 1723 1731 1734 1736 1737 1742 1747 1757 1760 1762 1771
 1772 1774 1776 1783 1789 1790 1799 1801 1804 1805 1806 1807 1813 1814
 1815 1817 1818 1819 1822 1823 1836 1838 1840 1848 1853 1860 1863 1864
 1866 1868 1883 1884 1886 1901 1904 1905 1911 1932 1933 1936 1939 1944
 1950 1951 1953 1954 1955 1959 1971 1973 1977 1994 2004 2018 2019 2020
 2032 2035 2036 2041 2050 2052 2055 2056 2057 2059 2060 2067 2077 2085
 2089 2104 2109 2110 2112 2114 2116 2125 2129 2130 2140 2142 2143 2150
 2155 2158 2162 2165 2167 2170 2172 2179 2185 2190 2200 2203 2204 2207
 2221 2237 2242 2244 2247 2252 2260 2262 2263 2266 2278 2280 2285 2286
 2293 2296 2297 2300 2301 2305 2317 2323 2324 2327 2340 2343 2354 2365
 2374 2375 2379 2387 2396 2397 2398 2404 2415 2418 2424 2427 2432 2436
 2437 2438 2442 2443 2445 2447 2450 2462 2466 2479 2497 2503 2509 2511
 2513 2518 2521 2524 2535 2538 2551 2568 2577 2584 2611 2613 2614 2629
 2633 2634 2648 2650 2652 2654 2657 2663 2668 2684 2690 2692 2693 2694
 2702 2703 2715 2716 2723 2735 2747 2749 2754 2773 2777 2783 2786 2800
 2801 2812 2822 2824 2825 2830 2832 2834 2842 2845 2846 2851 2853 2860
 2869 2871 2879 2883 2888 2896 2901 2910 2915]


Train index: [   0    1    2 ... 2912 2913 2915]
Test index: [   5    6   11   13   14   15   22   23   27   34   38   49   54   55
   58   60   61   69   75   86   87   88   89   92   93   95  103  108
  111  112  115  116  120  127  135  137  139  145  146  151  154  155
  157  159  161  163  164  170  171  174  189  198  208  216  221  243
  249  255  257  271  273  282  291  297  300  306  310  313  316  319
  327  331  335  339  340  342  344  346  347  361  366  375  380  382
  386  387  391  394  401  408  412  417  419  427  434  451  456  457
  461  466  478  479  484  489  492  499  507  511  516  520  524  530
  531  533  537  541  542  545  546  563  564  576  579  585  590  611
  616  628  629  632  642  647  657  662  686  689  690  694  695  697
  699  715  716  719  723  728  730  731  736  739  741  742  743  748
  768  770  772  777  778  789  790  798  813  824  827  833  835  847
  848  854  857  869  873  876  880  881  891  896  898  900  904  905
  916  917  918  921  925  928  947  950  961  967  973  976  978  979
  982  986  988  993 1001 1002 1003 1005 1006 1016 1020 1021 1024 1026
 1032 1034 1041 1042 1049 1055 1058 1060 1062 1077 1078 1081 1085 1088
 1090 1093 1097 1102 1103 1107 1110 1111 1117 1133 1136 1138 1141 1143
 1148 1150 1153 1154 1159 1160 1166 1169 1171 1172 1180 1185 1192 1193
 1194 1200 1207 1215 1219 1225 1230 1235 1237 1240 1244 1263 1266 1269
 1271 1273 1291 1292 1302 1308 1309 1311 1328 1335 1336 1352 1357 1358
 1366 1377 1378 1382 1392 1393 1399 1402 1403 1405 1430 1434 1435 1441
 1442 1443 1446 1457 1460 1476 1479 1487 1500 1503 1512 1522 1523 1546
 1548 1554 1557 1561 1571 1572 1575 1581 1585 1586 1591 1595 1619 1620
 1622 1624 1629 1646 1664 1669 1671 1684 1692 1701 1714 1716 1719 1722
 1730 1738 1741 1750 1752 1753 1758 1763 1781 1795 1800 1811 1820 1824
 1825 1829 1833 1841 1846 1849 1851 1855 1858 1870 1873 1880 1887 1889
 1893 1898 1910 1912 1913 1916 1919 1921 1923 1925 1934 1937 1949 1956
 1958 1962 1965 1967 1968 1969 1974 1976 1978 1983 1987 1988 1998 2001
 2002 2015 2023 2025 2030 2034 2042 2044 2045 2070 2076 2079 2080 2086
 2098 2100 2103 2107 2111 2115 2122 2123 2126 2136 2145 2147 2152 2153
 2156 2160 2163 2169 2173 2174 2175 2176 2189 2199 2206 2210 2211 2214
 2223 2225 2226 2228 2232 2235 2238 2243 2256 2258 2267 2277 2281 2284
 2288 2290 2291 2302 2303 2309 2315 2332 2334 2335 2336 2341 2349 2359
 2369 2372 2378 2383 2384 2401 2405 2413 2416 2417 2419 2425 2428 2440
 2444 2449 2451 2473 2476 2478 2481 2483 2488 2499 2502 2506 2528 2529
 2531 2534 2537 2539 2545 2547 2548 2550 2556 2564 2572 2581 2589 2592
 2594 2595 2597 2601 2604 2607 2609 2612 2620 2623 2624 2625 2628 2630
 2638 2644 2659 2664 2672 2673 2679 2680 2687 2688 2689 2695 2697 2704
 2705 2710 2714 2719 2720 2722 2725 2727 2730 2736 2744 2745 2751 2753
 2760 2763 2771 2772 2774 2776 2780 2781 2784 2787 2789 2798 2799 2802
 2814 2819 2831 2835 2836 2837 2843 2850 2861 2863 2865 2867 2868 2874
 2875 2878 2886 2898 2900 2905 2907 2909 2914]